* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 3fr;
  background-color: #101115;
}

.projects-container{
  width: max(300px, 20vw);
  grid-column-end: 2;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container{
  grid-column-start: 2;
  padding: 40px;
  width: min(750px, 90%);
  display: flex;
  flex-direction: column;
}

.input-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-container button{
  font-size: 30px;
}


.todo-input-container{
  position: absolute;
  bottom: 50px;
  width: min(700px, 90%);

  select{
    width: 150px;
  }

}

.error-message{
  display: none;
}

.todo-container > div {
  display: grid;
  grid-template-columns: .1fr 5fr 1fr;
  align-items: center;

  > span{
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}


@media (max-width: 1000px) {

  body > *:not(.error-message){
    display: none;
  }
  .error-message{
    display: none;
    position: absolute;
    inset: 0;
    margin: 0;
    z-index: 99999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

  }
}
